name: HACS Action

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    if: "github.ref == 'refs/heads/master' || (github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'master') || github.event_name == 'schedule'"
    steps:
      - uses: "actions/checkout@v4"
      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: "integration"

