name: HACS Action

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    if: "!contains(github.ref_name, 'beta')"
    steps:
      - uses: "actions/checkout@v4"
      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: "integration"

